<h1>Add New Genre</h1>

<form action="/genres/add" method="POST">
  <label for="name">Genre Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <button type="submit">Add Genre</button>
</form>

<p><a href="/genres">Back to Genres List</a></p>
