<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>GameVault - Video Game Review DB</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/users">Users</a>
    <a href="/games">Games</a>
    <a href="/platforms">Platforms</a>
    <a href="/genres">Genres</a>
    <a href="/entries">Entries</a>
    <a href="/statuses">Status</a>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
</html>
