<h1>Welcome to GameVault</h1>
<div class="homepageDescription">
Millions of gamers worldwide invest hundreds of hours playing, reviewing, and tracking their favorite titles, but often lack a personal system for organizing that experience in one place.
GameVault solves this problem by providing a user-focused database-powered web application where individuals can log their playtime, platforms, statuses, reviews, and ratings across thousands of titles.
In 2024, Steam released over 15,000 new titles worldwide while PC, Playstation, Switch, and Xbox had a combined 692 new releases from late 2022 through 2024. 
As gaming becomes more ubiquitous and personal libraries grow across multiple platforms, the demand for a centralized, personally curated source of insight and preferences has never been greater.
It’s time to give players the tools to track, reflect, and take ownership of their gaming experience.</p>
</div>
