<h1>Welcome to GameVault</h1>
<p>Please select from the following options:</p>
<ul>
    <li><a href="/users">Users</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/platforms">Platforms</a></li>
    <li><a href="/publishers">Publishers</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/entries">Entries</a></li>
</ul>