<h1>Edit Status</h1>
<form action="/status/edit/{{status.statusID}}" method="POST">
  <label for="statusName">Status Name:</label>
  <input type="text" id="statusName" name="statusName" value="" required>
  <button type="submit">Update Status</button>
</form>
