<h1>Add New Platform</h1>

<form action="/platforms/add" method="POST">
  <label for="name">Platform Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <button type="submit">Add Platform</button>
</form>

<p><a href="/platforms">Back to Platforms List</a></p>
