<h1>Add New Publisher</h1>

<form action="/publishers/add" method="POST">
  <label for="name">Publisher Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <button type="submit">Add Publisher</button>
</form>

<p><a href="/publishers">Back to Publishers List</a></p>
